<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseTracker"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".adapter.FundTransactionAdapter"
            android:exported="false" />
        <activity
            android:name=".Fund.FundTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".Fund.FundModifyFundActivity"
            android:exported="false" />
        <activity
            android:name=".Fund.FundFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.login.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.login.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.login.VerifyCodeActivity"
            android:exported="true" />
        <activity
            android:name=".view.register.WelcomeActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".view.Account.ViewCategoryList"
            android:exported="true" />
        <activity
            android:name=".view.Account.AddCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".view.Account.DeleteCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".view.Account.AccountWallet"
            android:exported="true" />
        <activity
            android:name=".view.Account.ChooseIconActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.ShowImageActivity"
            android:exported="true" />
        <activity
            android:name=".view.addTransaction.mainAddActivity"
            android:exported="true" />
        <activity
            android:name=".view.ModifyTransactionActivity"
            android:exported="true" />
        <activity
            android:name=".view.addTransaction.ChooseCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".view.budget.AddBudgetActivity"
            android:exported="true" />
        <activity
            android:name=".view.budget.DetailBudgetActivity"
            android:exported="true" />
        <activity
            android:name=".view.budget.EditBudgetActivity"
            android:exported="true" />
        <activity
            android:name=".view.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".Fund.FundAddFund"
            android:exported="true" />
        <activity
            android:name=".Fund.FundAddMember"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".utils.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.RECEIVE_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>